# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Documentation & notes
*.md
*.txt

# Executables
*.exe
*.dll
*.so
*.dylib

# Database seed files
prisma/seed.ts
prisma/seed.js
prisma/seed
